body{
    background: #000;
}
/*---------------------OUTSIDE-------------------*/
#main_start{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
}/*---------------------First-------------------*/
.web{
    display: none;
    overflow-x: hidden;
    background: #000;
}
#name{
    display: none;
    position: absolute;
    z-index: 98;
    font-size: 70px;
    color: #fff;
    width:300px;
    top:50%;
    right:0;
    margin-top: -100px;
    /* left:0; */
    margin-right:-90px;
    opacity: .6;
    text-shadow:1px 1px 1px #FFD700, 2px 2px 40px #fff;
    transform: rotate(-90deg);
}
#top , #bottom{
    position:relative ;
    height:50vh;
}

.tb{
    width: 100%;
    height: 100%;
}

#main_website{
    display: none;
    height: 100vh;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



.logo{
    height:30vh;
    display: block;
    margin: auto;
}

.logo_main{
    background: url("../img/back4.gif") center no-repeat;
    background-size: contain;
    margin: auto;
}


.word{
    font-size: 40px;
    font-family: "Brush Script MT", "Brush Script Std", cursive	;
    cursor: pointer;
    text-shadow: 1px 1px #a22914;
}
.word_height{
    font-size: 50px;
}
.hello{
    text-align: center;
    margin-top: 100px;
    height: 100px;
    max-height: 100px;
    overflow: hidden;
}
.word:hover{
    font-size: 50px;
    text-shadow: 1px 1px 10px #000, 2px 2px #a22914,3px 3px #000, 4px 4px #a22914;
    transition: 1s ease;
}

.contacts{
    position: absolute;
    z-index: 97;
    width:300px;
    top:50%;
    /* right:25%; */
    left:0;
    margin-left:-90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    max-height: 50px;
}
.contact{
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}


.contact:hover{
text-decoration: none;
color: #a22914;
font-size: 50px;
transition: 0.5s ease-out;
}
/*---------------------tecg-------------------*/
.technology{
    display: none;
    min-height: 100vh;
    background:#1c1c1c;
    color: #fff;
    margin: auto;
    text-align: center;
    padding: 20px;
    overflow-x: hidden;
}

.heading {
    text-shadow:1px 1px 1px #1c1c1c,1px 1px 20px #000;
    font-family: "Brush Script MT", "Brush Script Std", cursive	;

}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.grid{
    max-width: 50vw;
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    grid-gap: 10px;

}

.grid_item{
    color: #a22914;
    width: 200px;
    background: #000;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #000;
    padding: 10px 20px;
    cursor: pointer;
}
.grid_item:hover{
    color: #fff;
    box-shadow: 2px 2px 20px #000;
    transform: scale(1.1);
    transition: 0.3s;
   
}
/*---------------------workexp-------------------*/
#workexp{
    color: #fff;
    display: none;
    min-height: 100vh;
    text-align: center;
    z-index: 0;
}
.flex-center2{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(7,auto);
    overflow: hidden;
    padding: 50px 10px;
    z-index: 2;
}
.grid2_item{
    max-width: 12.5vw;
    height: auto;
    max-height: 12.5vw;
    overflow: hidden;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
    filter: grayscale(0%);
}

.grid2_item.img:hover{
    filter: contrast(110%);
    border-radius: 50%;
    transform:scale(1.1);

}

.work_info{
    align-items: center;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    font-family: "Brush Script MT", "Brush Script Std", cursive	;
    position: absolute;
    top: 0;
    padding: -25px;
    padding: 25px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: #000;
}

.grid2_item.extra{
    text-align: center;
    border-radius: 0px;
    font-family: Georgia, serif;
    font-size: 17px;
    color: #fff;
    overflow: visible;
    text-overflow: unset;
    font-weight: bold;
    text-shadow: 1px 1px 5px #a22914;
    padding-top: 25px;

    
}
/*---------------------Common-------------------*/

.btn_def{
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-shadow: 1px 1px 10px #a22914;
    border: none;
    border-radius: 5px;
    padding: 10px;
    }
    .btn_def:hover{    
        box-shadow: inset 0px 0px 5px #000;
    }
    
    .btn_def:active{
        border: none;
    }
    




